
.parent-div{
    display: flex;
}

.child-div{
    text-align: left;
    width: 40vw;
    padding-left: 30vw;
}

.para-about{
    line-height: 20px;
}

.about{
    font-size: 2rem;
    display: unset;
}