*{
    margin: 0;
    padding: 0;
}

.logo{
    color: rgba(255, 255, 255,0.8);
    cursor: pointer;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    color: #000;
    align-items: center;
    height: 8vh;
    background: rgb(109, 106, 106);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
} 


a.active{
    color: #ffffff;
    border-bottom: 1px  #ffffff solid ;
}

.nav-links{ 
    display: flex;
    list-style-type: none;
    float: left;
}

li{
    margin: 2vh;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.main-nav .fa-bars{
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
}

.main-nav .fa-times{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
    margin-left: -35vh;
}


@media all and (max-width:768px){
    
    .main-nav .fa-bars{
        display: block;
    }
    
    .main-nav .fa-times{
        display: none;
    }

    .main-nav .nav-links{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgb(130, 129, 129,0.8);
    width: 50%;
    align-items: center;
    transform: translateX(-500px);
    transition: 0.3s ease-in-out;
    }
    .main-nav .nav-links li{
        padding: 15px;
        font-size: 18px;
        margin-left: 40px;        
    }

}