.uncle{
    display: flex;
}

.cusion{
    text-align: left;
    width: 40vw;
    padding-left: 30vw;
}

.main-para{
    line-height: 20px;    
}

.project{
    font-size: 2rem;
    display: unset;
}



